<h2>Lista de empresas</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova empresa</button></a>
{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body pb-0">
            <h4>{{nome}}</h4>
            <small>{{slug}}</small><br><hr>
                  <div class="form-inline mb-2">
                <form class="mr-2" action="/admin/categorias/edit/{{_id}}">
                    <button class="btn btn-success">Editar</button>
                </form>
                <form action="/admin/categorias/deletar" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-danger">Deletar</button>
                </form>
                </div>
                <small>Data de criacao: {{date}}</small>
        
        </div>
    </div>

{{else}}
    <div class="card-body mt-5 pt-5"><hr><h4 class="mt-5 pt-5">Nenhuma empresa registrada.</h4></div>
{{/each}}