<div class="jumbotron border order border">
  <h1 class="display-4">Ola, {{userName}}! ;D</h1>
  <p class="lead">Nesta tela teremos: <br>Usuario: Avatar, nome, data e hora, qtd prots mes, prots total, data entrada, 8 ultimos posts <br>Avisos e alertas</p>
  <hr class="my-4">
  /principal = reestilizar, informacoes usuario <br>
/postagens = Botao editar excluir, regra negocio <br>
/admin = botao registro, editar usuarios <br>
// confirmacao delete <br>
/search = aprimorar pesquisa <hr>
{{#if adm}}
  <a class="btn btn-warning btn-lg" href="/admin" role="button">Admin area</a>
  <a class="btn btn-warning btn-lg" href="/admin/categorias" role="button">Admin empresas</a>
  <a class="btn btn-warning btn-lg" href="/admin/protocolos" role="button">Area protocolos</a>
  {{/if}}
</div>
<hr>
<h2>Protocolos recentes: </h2>
{{#each postagens}}
<div class="card mt-5 p-1 border">
    <div class="cardy-body m-2 ml-4 mr-4">
        <a href="" class="text-primary">{{empresa.nome}}</a>
        <h3 class="mt-1">{{titulo}}</h3>
        <hr>
        <p>{{conteudo}}</p>
        <hr>
        <small>{{date}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhum protocolo registrado.</h5>
{{/each}}