<h2>Lista de protocolos: </h2>
<hr>

<a href="/admin/postagens/add"><button class="btn btn-success">Novo protocolo</button></a>

     <form action="/admin/search" method="get">
     <label class="mt-3"for="search">Pesquisar: </label>
     <input type="text" name="search" id="search" class="form-control">
     <button class="btn btn-success mt-3">Pesquisar</button>
     </form>
{{#each postagens}}
   <div class="card mt-5 p-1 border">
    <div class="cardy-body m-2 ml-4 mr-4">
        <a href="" class="text-primary">{{empresa.nome}}</a>
        <h3 class="mt-1">{{titulo}}</h3>
        <hr>
        <p>{{conteudo}}</p>
        <hr>
        <small>{{date}}</small>
    </div>
    </div>
{{else}}
    <div class="card-body mt-5 pt-5"><hr><h4 class="mt-5 pt-5">Nenhum protocolo registrado.</h4></div>
{{/each}}
